.mondriaan.alt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--column), 1fr));
    grid-auto-rows: var(--column);
    grid-auto-flow: dense;

    --color1: #0f2a77;
    --color2: #e51837;
    --color3: #fdeb24;
    --color4: #12060f;
}
.mondriaan.alt .item:nth-child(3) {
    grid-column: span 2;
    background-color: var(--color1);
}
.mondriaan.alt > .item:nth-child(6) {
    grid-row: span 2;
    grid-column: span 3;
    background-color: var(--color2);
}
.mondriaan.alt > .item:nth-child(6) {
    grid-row: span 2;
    grid-column: span 2;
    background-color: var(--color2);
}
.mondriaan.alt > .item:nth-child(10) {
    grid-row: span 2;
    background-color: var(--color3);
}
.mondriaan.alt > .item:nth-child(15) {
    background-color: var(--color1);
}
.mondriaan.alt > .item:nth-child(19) {
    grid-column: span 3;
    background-color: var(--color4);
}
.mondriaan.alt > .item:nth-child(21) {
    background-color: var(--color3);
}
.mondriaan.alt > .item:nth-child(22) {
    grid-row: span 2;
    background-color: var(--color4);
}
.mondriaan.alt > .item:nth-child(25) {
    grid-row: span 2;
    grid-column: span 3;
}
.mondriaan.alt > .item:nth-child(26) {
    grid-row: span 3;
    background-color: var(--color2);
}
.mondriaan.alt > .item:nth-child(35) {
    grid-row: span 2;
    grid-column: span 2;
    background-color: var(--color1);
}
.mondriaan.alt > .item:nth-child(40) {
    background-color: var(--color4);
}
